# Dependencies
node_modules/

# Environment files
.env

# OS / Editor files
.DS_Store
.vscode/

# Build output
build/
dist/

# Logs
*.log

# Uploaded files
uploads/

metagurukul-backend/.env
metagurukul-frontend/.env
