.courses-page {
  padding: 40px 60px;
  background-color: #faf6ef;
  min-height: 100vh;
}

.courses-pg-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #7d380a;
  font-weight: bold;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.course-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.course-cover {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.course-info {
  padding: 15px;
}

.course-info h3 {
  font-size: 1.1rem;
  color: #7d380a;
  margin-bottom: 6px;
}

.course-info p {
  color: #555;
  font-size: 0.9rem;
}

.no-courses-text {
  color: #777;
  font-size: 1rem;
  text-align: center;
  margin-top: 40px;
}
