.membership-page{
    padding: 3rem;
    background-color: #fdf7ec;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.membership-img {
    width: 100%;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 2rem;
}
.membership-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.membership-description{ 
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.membership-description p {
    margin-bottom: 1rem;
}

.chooseplan-title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

.membership-cards{
    display: flex;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 4rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.plan-card{
    background-color: #f6d391;
    border-radius: 12px;
    padding: 2rem;
    width: 280px;
    box-shadow: 0 0 10px #7d380a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.plan-card:hover{
    transform: translateY(-10px);
     
    box-shadow: 0 10px 20px #502203(0, 0, 0, 0.15);
}

.plan-card h3 {
  color: #cd9b3f;
  margin-bottom: 0.5rem;
  text-align: center;
}

.plan-card .price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #855535;
  text-align: center;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  color: #333;
}

.plan-card ul li {
  margin: 0.5rem 0;
  text-align: center;
}

.plan-card button {
  background-color: #7d380a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.plan-card button:hover {
  background-color: #cd9b3f;
}

/* Responsive */
@media (max-width: 768px) {
  .membership-cards {
    flex-direction: column;
    align-items: center;
  }

  .membership-title {
    font-size: 1.8rem;
  }

  .membership-description {
    padding: 0 1rem;
  }
}