/* src/styles/components/hero.css */
.hero {
  background: linear-gradient(145deg,white);
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-content {
  max-width: 800px;
}


.brand {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
}

.highlight {
  color: #7d380a;
}

.hero h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: #cd9b3f;
}

.hero-input-group {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.hero-input-group input {
  padding: 12px 18px;
  border-radius: 25px;
  border: none;
  outline: none;
  width: 250px;
  max-width: 100%;
  font-size: 1rem;
  border: gray 2px solid;
  border-radius: 40px;
}

.hero-input-group input:hover{
    border: #cd9b3f 2px solid;
    box-shadow: 2px 3px rgb(0, 0, 0.2);
}

.hero-input-group button {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background-color: #cd9b3f;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  
}

.hero-input-group button:hover {
  background-color: #cb631e;
  box-shadow: 2px 3px rgb(0, 0, 0.2);
}
