.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #f7f8fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  font-family: 'Segoe UI', sans-serif;
}

.user-avatar {
  margin-bottom: 30px;
  text-align: center;
}

.profile-circle {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.user-name {
  margin-top: 10px;
  font-weight: bold;
}

.user-role {
  font-size: 12px;
  color: #777;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s;
}


.sidebar-item:hover {
  background-color: #ebf4ff;
  color: #2b6cb0;
}

.sidebar-item.active {
  background-color: #edf2f7;
  color: #2b6cb0;
  font-weight: bold;
}

.sidebar-icon  {
  margin-right: 10px;
  color: inherit;
}


.subnav {
  padding-left: 20px;
  margin-bottom: 10px;
}

.subnav-item {
  padding: 8px 10px;
  cursor: pointer;
  color: #555;
  border-radius: 6px;
  margin-bottom: 3px;
}

.subnav-item:hover {
  background-color: #e2e8f0;
}

.active-sub {
  color: #2b6cb0;
  font-weight: bold;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.explore-btn,
.store-btn {
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #e2e8f0;
  border-radius: 5px;
  transition: background 0.2s;
}

.store-btn {
  background-color: #fff3cd;
}

.explore-btn:hover,
.store-btn:hover {
  background-color: #d1dbe4;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sidebar-text {
  flex-grow: 1;
  margin-left: 10px;
}