.trending-section {
  padding: 60px 20px;
  background-color: #fdf7ec;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.trending-section h2 {
  font-size: 2rem;
  color: #7d380a;
  margin-bottom: 2rem;
}

.course-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container h1{
  color: #f6d391;
}

img{
  width: 1000px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  height: 250px;
  width: 600px;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -15%);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  background: rgba(251, 244, 244, 0.3); /* optional transparent overlay */
  border-radius: 12px;
}