.why-choose {
  background-color: (0, 64%, 49%);
  padding: 60px 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.why-choose h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #7d380a;
}

.features-grid {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.feature-box {
  background-color: #f6d391;
  width: 260px;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2.5rem;
  color: #7d380a;
  margin-bottom: 1rem;
}

.feature-box h3 {
  font-size: 1.2rem;
  color: #7d380a;
  margin-bottom: 0.5rem;
}

.feature-box p {
  color: #555;
  font-size: 0.95rem;
}
